<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button class="mini-footer-button">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="add-button">
      <button mat-fab color="accent" [routerLink]="['/add-subscription']">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div fxLayout="row"> 
    <div>
      <button class="mini-footer-button">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <div>
      <button class="mini-footer-button">
        <mat-icon>sort</mat-icon>
      </button>
    </div>
  </div>
  </div>
</div>
