<ion-content overflow-scroll="false" class="add-subscription-container" fxLayout="column" fxLayoutAlign="space-evenly stretch" >
<form [formGroup]="addSubscriptionForm">
    <div fxLayout="column" fxLayoutAlign="space-around stretch" >
    <div class="card" style="margin: 10px;">
        <div fxLayoutAlign="start start">
            <button [routerLink]="['/home']" class="back-button"><span class="material-icons">
            keyboard_backspace
            </span>
            </button>
        </div>
        <mat-form-field fxLayoutAlign="center center" floatLabel="never">
            <mat-label>0.00</mat-label>
             <input matInput type="number" formControlName="moneySpend">
        </mat-form-field>
        <h3 fxLayoutAlign="center center">INR</h3>
    </div>
    <mat-card  fxLayout="column" fxLayoutAlign="space-around stretch" >
        <div><b>Name</b></div>
    <mat-form-field  floatLabel="never">
         <input matInput type="text" placeholder="e.g. Netflix" formControlName="subscriptionName">
    </mat-form-field>
    <div><b>Description</b> - optional</div>
    <mat-form-field  floatLabel="never">
         <input matInput type="text" placeholder="e.g. Premium plan" formControlName="description">
    </mat-form-field>
</mat-card>
<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Recurring"> 
        <div class="p-3">  
            <b>Billing period</b> 
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <div fxFlex="15">Every</div>
         <div fxFlex="30">
            <mat-form-field  floatLabel="never" appearance="none">
                <input class="tab-input" matInput type="number" formControlName="noOfRecurring">
           </mat-form-field>
         </div>
            <div fxFlex="45">
            <mat-form-field appearance="none">
                <mat-select class="tab-select" name="food" value="month" formControlName="subscriptionSpan">
                    <mat-option value="day">Day</mat-option>
                    <mat-option value="week">Week</mat-option>
                    <mat-option value="month">Month</mat-option>
                    <mat-option value="year">Year</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
            </div>
            <mat-card fxLayout="column" fxLayoutAlign="center stretch" >
            <div><b>First payment</b> - optional</div>
                <mat-form-field  floatLabel="never" appearance="none">
                <input class="tab-select" matInput type="number"  formControlName="firstPaymentDetails">
            </mat-form-field>
        </mat-card>
    </mat-tab>
    <mat-tab label="One time">
        <mat-card  fxLayout="column" fxLayoutAlign="center stretch" >
        <div><b>First payment</b> - optional</div>
        <mat-form-field  floatLabel="never">
             <input matInput type="text" placeholder="e.g. In a year" formControlName="expiryDateOneTime">
        </mat-form-field>
    </mat-card>
 </mat-tab>
  </mat-tab-group>
     </div>
    <div class="p-3">
        <div>
            <b>Color</b>
        </div>
        <button class="color-input" [style.background]="colorInput" [ngStyle]="{'color':textColor}" (click)="openColorPicker()" >
            Choose a nice color
        </button>

    </div>
<mat-card  fxLayout="column" fxLayoutAlign="center stretch" >
    <div><b>Payment method</b> - optional</div>
    <mat-form-field  floatLabel="never">
         <input matInput type="text" placeholder="e.g. Credit card" formControlName="paymentInfo">
    </mat-form-field>
    <div><b>Note</b> - optional</div>
    <mat-form-field  floatLabel="never">
         <textarea matInput type="text" placeholder="e.g. Bought during the summer sale" formControlName="note"></textarea>
    </mat-form-field>
</mat-card>
<div class="p-3">
    <b>Note</b> - optional
  </div>
<div  fxLayout="column" fxLayoutAlign="center center">
    <div class="add-label" fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex="10" class="material-icons">
        label_outlined
        </span>
        <button fxFlex="80" mat-button (click)="openAddLabel()" >Add labels</button>
    </div>
<div class="p-4">
    <button class="save-subscription"  [disabled]="!isFormValid()" mat-button (click)="saveSubscription()">
    <span class="material-icons">
     save
    </span>&nbsp; Save subscription
</button>

</div>
</div>

</form>

</ion-content>